In [ ]:
reinitilization existing git repository in colab

Q1. explain the key feature of python that make it a popular choice for programing.
1. readability and simplicity
python places a strong emphasis on clean, readable code. its syntax is designed to be highly readable, with minimal use of brackets and a clear layout using indentation and whitespace. by relying on indentation to define code bloacks, python enables developers to  write code thatis not only easy to write but also easy to read and understand.
2. extensive standard library
python comeswith with an extensive standard library, which is a collection of modules and packages that offer a wide range of functionalities. these modules and packages help simplify complex tasks by providing pre-built functionalities,saving developers time and effort.
3. cross-platform compatibility
python's cross-platform compatibility allows it to run seamlessly on different operating systems such as windows, macos and linus. developers can write their code once and deploy it on multiple platforms, saving time and effort in application development.
4.dynamic typing and dynamic binding
python is a dynamically-typed language, which means that the type of a variable is determined at runtime. unlike statically-typed languages, such as c++ or java. python does not require explicit type declarations. this dynamic typing feature results in gaster development time and increases code flexibility.
5. strong community support python enjoys a vibrant and supportive community of developers worldwode. this commnity provides various resources, including forums, online comunities, and open-source projes=cts. the python community

Q2. describe the role of predefined key word in python and provide example of  how they are used in a program.

ans:-
python keywords are some predefined and reserved words in python that have special meaning . keywords are used to define the syntax of the coding. the keyword cannot be used as an identifier, functionm or variable name. all the keywords in python are written in lowercase except true and false.

Example 1.
if = this is used to make a conditional statement.

In [ ]:
if 5>2:
    print("FIVE GREATER THAN TWO")

Example 2.
for= this is used to create a loop.

In [ ]:
for x in range(5):
    print(x)

Example 3.
or = this is also a logical operator which returns true if anyone operand is true else retruns false.

In [ ]:
a = 200
b = 33
print (a>b or b>a)

Example 4.
not = this is again a logical operator it returns true if the operan is false else returns false.

In [ ]:
a = int (200)
b =  int(33)
c = a+b
print ("a+b",not c)

a+b False

Q3. compare contrast mutable and immutable objects in python with examples.

A.  mutable objects :-                          
 1) the objects can be modified after the creation as well.  

2) classes that are mutable are not considered final .

3)thread unsafe.

4)classes are not made final for the mutalbe objects.

5)Examples:- lists,dicts,sets,etc.

LISTS

In [ ]:
list = [1,2,3,4,5]
print(list)
list [3]= 8
print(list)

[1, 2, 3, 4, 5]
[1, 2, 3, 8, 5]

DICTS

In [ ]:
employee = {"name" : 'vikram','age':25,'department':'it'}
employee['department'] = 'HR'
print(employee)

{'name': 'vikram', 'age': 25, 'department': 'HR'}

SETS

In [ ]:
set = {'vikram','anshul','amit','suresh'}
print(set)

{'amit', 'anshul', 'vikram', 'suresh'}

In [ ]:
set = {'vikram','anshul','amit','suresh'}
set.add('rahul')
print(set)

{'anshul', 'amit', 'vikram', 'rahul', 'suresh'}

In [ ]:
set = {'vikram','anshul','amit','suresh'}
set.remove('anshul')
print(set)

{'amit', 'vikram', 'suresh'}

In [ ]:
set.update(["ankit", "dipak"])
print(set)

{'ankit', 'amit', 'vikram', 'dipak', 'suresh'}

Q3. B) immutable object:-

1)objects can not be modified after the creation of the objects.

2)classes that are immutable are considered final.

3)thread-safe.

4) classes are made final for the immutable objects.

5)Examples:- tuple, string,int.

TUPLE

In [ ]:
tuple = (1,2,3,4,5)
tuple [2]= 8
print(tuple)

TypeError: 'tuple' object does not support item assignment

STRING

In [ ]:
a = "i love my india"
a[3]= 'africa'
print(a)

TypeError: 'str' object does not support item assignment

INT

In [ ]:
int = 10,2,3,4,5,6
int[2]= 8
print(int)

TypeError: 'tuple' object does not support item assignment

Q4. discuss the different types of operators in python and provide examples of how they are used.

in python programming. operators in general are used to perform operations on values and variables.these are standard symbols used for logical and arithmetic operations.

#Types of operators
1 Arithmetic operators. (+,-,/,%,*)

2 comparison operators.(<,<=,>,>=,==,!=)

3 logicla operators.(and,or,not)

4 bitwise operators.(&,<<,>>,-^)

5.assignment operators.(=,+=,-=,*=,%)

In [ ]:
#1.Arithmetic operators
a = 10
b = 2
print(a+b)
print(a-b)
print(a*b)
print(a/b)

12
8
20
5.0

In [ ]:
#2.comparison operators
a = 10
b = 2
print(a<b)
print(a<=b)
print(a>b)
print(a>=b)
print(a==b)
print(a!=b)

False
False
True
True
False
True

In [ ]:
#3.logical operator
a = 2
b = 10
c = 20
print(a>b and a>c)
print(a>b or a>c)
print(not a>b)

False
False
True

In [ ]:
#4#bitwise operators
a = 10
b = 2
print(a&b)
print(a<<b)
print(a>>b)
print(a^b)

2
40
2
8

In [ ]:
#5assignment operators
a = 10
b = 2
a+=b
print(a)
a-=b
print(a)
a*=b
print(a)
a/=b
print(a)

12
10
20
10.0

Q5.explain the type casting in python with example.

ans:-type casting is the method to convert the python variable datatype into a certain data type in order to perform the required operations by users.

there can be two types of type casting in python:
1. implicit type casting :-

 in this, method, python converts the datatype into another datatype automatically. users don'thave to involve in this process.

In [ ]:
# python automatically converts
# a to int
a = 7
print(type(a))

<class 'int'>

2.explicit type casting:-

in this method, python needs user involvement to convert the variable data type into the required data type.

In [ ]:
# first python automaticaly assume a = float
a = 5.3
print(type(a))
# after we type cast a = str
n = str(a)
print(n)
print(type(n))

<class 'float'>
5.3
<class 'str'>

Q6.how do conditional statement work in python? illustrate with example.

the condition can be any expression that evaluates to a boolean value (True or False). if the condition is true,the code bloack indented below the if statement will be executed . if the condition is false, the code bloack will be skipped.

In [ ]:
num = 10
if num > 8:

    print("number is greater than 8")
else:
    print("number is less than 8")

number is greater than 8

Q7.describe the different type of loops in python and their use cases with example.

Types of loop:-

1.for loop:- used for iterating over a sequence (such as a list, tuple, dictionary, set or string).it's a common choice for loops where the number of iterations is determined by the elements in the sequence.


2.while loop:- repeats as long as a specified boolean condition is true. it's used when the number of iterations is not predetermined and needs to continue until a condition changes.

3.nested loop:- in python program there are two types of loops which are for loop and while loop. using these loops we can create nested loops in python. nested loops mean loops inside a loop. for example, while loop inside the for loop, for loop indside the for loop.

In [ ]:
a = 200
for i in range(20, 30):
  print(i)

20
21
22
23
24
25
26
27
28
29

while loop

In [ ]:
a = 30
while a < 201:
  print(a)
  a += 5

30
35
40
45
50
55
60
65
70
75
80
85
90
95
100
105
110
115
120
125
130
135
140
145
150
155
160
165
170
175
180
185
190
195
200

nested loop

In [ ]:
for i in range(1,5):
    for j in range(1,11):
        print(i, "*", j, "=", i*j)

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40